#preloader { position:fixed; left:0; top:0; right:0; z-index:100; width:100%; height:100%; background:$base-down-color; transition:all .3s linear;
  .inner { @include flex-container(center, center); height:100%;
    .dot { display:block; width:2rem; height:2rem; margin:0 .3rem; border-radius:50%; animation:dot 1.2s ease-in-out infinite;
      &:nth-of-type(1) { background:$code-id-color; }
      &:nth-of-type(2) { background:$code-class-color; animation-delay:.1s; }
      &:nth-of-type(3) { background:$code-other-color; animation-delay:.2s; }
      &:nth-of-type(4) { background:$code-vari-color; animation-delay:.3s; }
    }
  }
}

.wave { overflow:hidden; @include flex-container(center, center); flex-flow:column wrap; position:relative; width:15rem; height:15rem; border:.3rem solid rgba(40, 44, 52, 1); border-radius:50%;
  &:before,
  &:after { content:''; display:block; position:absolute; left:-50%; top:calc(-100% - var(--percent)); width:200%; height:200%; transform:translate(0, 0) ratate(0); }
  &:before { z-index:1; border-radius:44%; background-color: rgba(40, 44, 52, .4); animation:rotate 6s linear infinite; }
  &:after { z-index:2; border-radius:48%; background-color: rgba(40, 44, 52, .9); animation:rotate 10s linear 5s infinite; }
  .name { position:relative; z-index:3; font-size:1.5rem; }
  .proficiency { position:relative; z-index:3; margin-top:.3rem; font-size:1.3rem; }
}

@keyframes dot {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
}

@keyframes rotate {
  50% {
      transform:translate(0, -2%) rotate(180deg);
  } 100% {
      transform:translate(0, 0) rotate(360deg);
  }
}

@include media('pc') {
  .wave { width:15rem; height:15rem; }
}

@include media('tablet') {
  .wave { width:14rem; height:14rem; }
}

@include media('mobile') {
  .wave { width:12rem; height:12rem; }
}
