@mixin languages() {
  @each $type, $font-family in $global-font-family {
    [lang="#{$type}"] {
      font-family: $font-family;
    }

    html:lang(#{$type}) {
      input,
      select,
      textarea,
      button { font-family:$font-family; }
    }
  }
}

@mixin media($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: 767px) {
      @content;
    }
  }

  @else if $breakpoint == "tablet" {
    @media (max-width: 1079px)  {
      @content;
    }
  }

  @else if $breakpoint == "pc" {
    @media (min-width: 1080px) {
      @content;
    }
  }
}

@mixin flex-container($justify-content: false, $align-items: false) {
  display:flex;

  @if $justify-content {
    justify-content:$justify-content;
  }

  @if $align-items {
    align-items:$align-items;
  }
}

@mixin round-box($padding: 2rem, $border: 1px solid $code-cbra-color, $radius: 1rem, $background-color: transparent) {
  overflow:hidden; padding:$padding; border:$border; border-radius:$radius; box-sizing:border-box; background:$background-color;
}
