/* Reset */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img { margin:0; padding:0; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
html, body { min-width:375px; width:100%; height:100%; font-size:$global-font-size; }
body, code { font-size:$global-font-size; color:$global-font-color; background:$global-background-color; -webkit-text-size-adjust:none; }
ul, ol, dl, li { list-style:none; }
img, fieldset { border:0; max-width:100%; vertical-align:top; }
i, em, address { font-style:normal; }
table { table-layout:fixed; width:100%; border:0; border-spacing:0; border-collapse:collapse; }
table img { vertical-align:middle; }
th, td { border:0; word-wrap:break-word; }
input, select, textarea { font-size:$global-font-size; color:$global-font-color; vertical-align:middle; outline:0; -webkit-appearance:none; }
label { cursor:pointer; }
caption { overflow:hidden; width:1px; font-size:1px; line-height:0; text-indent:150%; white-space:nowrap; }
legend { display:block; overflow:hidden; position:absolute; font-size:1px; line-height:0; color:transparent; text-indent:-150%; white-space:nowrap; }
button { overflow:visible; padding:0; margin:0; border:0; outline:0; color:inherit; @include round-box(1.5rem, 1px solid $code-cbra-color, .5rem); color:$code-other-color; font-size:$global-font-size; cursor:pointer; -webkit-user-select:none; background:transparent; transition:all .3s ease; }
button:hover { border-color:$code-id-color; }
button[disabled] { cursor:default; }
button[disabled]:hover { border-color:$code-vari-color; }
button::-moz-focus-inner { padding:0; border:0; }
a { text-decoration:none; color:$global-font-color; }
a:hover { text-decoration:none; }
input,
textarea { width:100%; border:0; box-sizing:border-box; background:transparent; color:$code-other-color; transition:all .3s ease; -webkit-appearance:none;
  &::placeholder { color:$code-class-color; font-size:inherit; line-height:inherit; }
  &:hover { border-color:$code-id-color }
  &:focus { border-color:$code-vari-color; outline:none; }
  &:invalid { border-color:$code-vari-color; }
}
body {
input:-internal-autofill-selected {
  background-color:transparent !important;
  background-image:none !important;
  color:inherit !important;
}
}
input { height:4rem; line-height:4rem; @include round-box(0 1rem, 1px solid $code-cbra-color, .5rem); }
textarea { height:15rem; line-height:1.5; @include round-box(1rem, 1px solid $code-cbra-color, .5rem); }

/* html5 */
object, del, sub, var { margin:0; padding:0; }
article, aside, details, figcaption, figure, footer, header, main, hgroup, menu, nav, section { display:block; }

/* For Print */
@media print {
  #header, #sidebar, #aside, #footer { display:none; }
  #content { float:none; width:auto; }
}

/* Languages */
@include languages();

/* Browser Update(Support) */
#buorg { padding: 10px 0 15px;
  .buorg-moremsg { display:block; }
  .buorg-buttons { padding:10px 0 0; }
}
