header#header.header
  block header
    h1.hidden Portfolio - HyunJiwon
    nav#nav.nav
      button(type="button" class="toggleMenu")
        span Menu
      - var values = ['HyunJiwon', 'Experience', 'Skills', 'Portfolio', 'Contact'];
      ul
        each value in values
          li
            strong(data-move-target=`${value.toLowerCase()}`)= value
