extends components/layouts/layout

block append variables
  - var bodyClass = 'index';

block append header
  p Block append Header

block append contents
  p Block append Contents

block append footer
  p Block append Footer

block append body
  script(src="/js/ui/index.js")
