/* Index */
#contents {
  section {
    &#home  { width:100%; height:100vh; background:url('/images/home_bg.jpg') no-repeat center center; background-size:cover;
      &:after { content:''; display:block; position:absolute; left:0; top:0; z-index:1; width:100%; height:100%; background:rgba(40, 44, 52, .8); }
      .inner { position:relative; z-index:2; @include flex-container(center, center); flex-flow:column wrap; width:100%; height:100%; padding:0;
        .title { display:block; padding:0; color:$code-id-color; font-size:5rem;
          &:after { content:none; }
        }
        .content {
          span { color:$code-class-color; font-size:2rem; }
        }
        .scrollDown { display:block; position:absolute; left:0; bottom:5vh; right:0; width:1.5rem; height:1.5rem; margin:0 auto; border-left:.3rem solid #ececec; border-top:.3rem solid #ececec; transform:rotate(-135deg); color:transparent; font-size:0; }
      }
    }

    &#experience {
      .expList {
        > li { position:relative; padding-bottom:3rem; @include flex-container(); text-align:left; font-size:1.5rem;
          &:first-child {
            .date {
              &:after { top:2.1rem; }
            }
          }
          &:last-child {
            .date {
              &:after { overflow:hidden; background:linear-gradient(to bottom, $code-pseu-color, 90%, rgba(86, 182, 194, .8)); border-radius:0 0 25% 25%; }
            }
          }
          .date { position:relative; min-width:25rem; padding:2.4rem 0 2rem; color:$code-num-color; font-size:inherit; box-sizing:border-box;
            &:before { content:''; display:block; position:absolute; right:3rem; top:2.1rem; z-index:2; width:1.5rem; height:1.5rem; border:3px solid $code-pseu-color; border-radius:100%; background:#fff; color:inherit; text-align:center; line-height:2.5rem; }
            &:after { content:''; display:block; position:absolute; right:3.8rem; top:0; width:3px; height:135%; background:$code-pseu-color; }
            .start { position:relative;
              &:after { content:'-'; display:inline-block; margin:0 .4rem; color:inherit; }
            }
          }

          .company { flex:1 1 0; @include round-box();
            .employer { display:block; color:$code-id-color; font-size:2.5rem; margin-bottom:0.5rem; }
            .position { display:block; color:$code-class-color; font-size:1.3rem; margin-bottom:1rem; }
            .details {
              strong { display:block; font-size:1.2rem;
                margin-top:1.2rem;
                &:first-of-type { margin-top:0; }
              }
              ul { padding:.5rem 2rem 0;
                li { position:relative; font-size:1rem; line-height:1.6;
                  &:before { content:'-'; position:absolute; left:-1rem; top:0; font-size:inherit; }
                }
              }
             }
          }
        }
      }
    }

    &#skills {
      .skillList { @include flex-container(center, center); flex-wrap:wrap;
        li { overflow:hidden; position:relative; z-index:2; margin:1rem; padding:3px; border-width:3px; border-style:solid; border-radius:50%; box-sizing:border-box;
          .info { overflow:hidden; @include flex-container(center, center); flex-flow:column wrap; width:100%; height:100%; border-radius:50%;
            .name { position:relative; z-index:3; font-size:1.5rem; }
            .proficiency { position:relative; z-index:3; margin-top:.3rem; font-size:1.3rem; }
          }
        }
      }
    }

    &#portfolio {
      .portfolioList { @include flex-container(center, center); flex-wrap:wrap;
        li { overflow:hidden; position:relative;
          &:before,
          &:after { content:''; display:block; position:absolute; z-index:1; width:100%; border-top:2px solid $code-id-color; transition:all .3s ease; }
          &:before { top:0; right:100%; }
          &:after { left:100%; bottom:0; }

          .info { overflow:hidden; position:absolute; left:0; top:0; width:100%; height:100%;
            &:before,
            &:after { content:''; display:block; position:absolute; z-index:1; height:100%; border-left:2px solid $code-id-color; transition:all .3s ease; }
            &:before { left:0; bottom:100%; }
            &:after { right:0; top:100%; }
            .logo { position:relative; width:100%; height:100%; border:2px solid $code-cbra-color; box-sizing:border-box;
              .title { position:absolute; left:0; top:calc(50% - 1.75rem); right:0; margin:0 auto; font-size:2.5rem; transition: all .6s ease;
                span { margin-left:.5rem; font-size:1.5rem; }
              }
            }
            .detail { position:absolute; left:0; top:calc(50% + 4rem); right:0; z-index:2; margin:0 auto; transition: all .6s ease; visibility:hidden; opacity:0;
              .desc { margin-bottom:1rem; font-size:1.2rem; color:$code-class-color;
                span { display:block; margin-top:.2rem; }
              }
              a.view { display:inline-block; padding:1rem 2rem; border:1px solid $code-class-color; border-radius:1rem; font-size:1.2rem; color:$code-other-color;
                @include hover-supported {
                  border-color:$code-id-color;
                }
              }
              button.view { padding:1rem 2rem; }
            }
          }

          @include hover-supported{
            &:before { right:0; }
            &:after { left:0; }
            .info {
              &:before { bottom:0; }
              &:after { top:0; }
              .title { top:calc(50% - 3.5rem); }
              .detail { top:calc(50% + 1.8rem); opacity:1; visibility:visible; }
            }
          }
        }
      }
    }

    &#contact {
      form {
        #name { margin:0 0 1rem; }
        #email { margin:0 0 1rem; }
        #message { min-width:100%; max-width:100%; min-height:15rem; max-height:30rem; margin:0 0 1rem; }
        #contactFormSubmit { min-width:100%; }
      }
    }
  }
}

@include media('pc') {
  #contents {
    section {
      &#home { background-attachment:fixed;
        .inner {
          .scrollDown { bottom:5vh; }
        }
      }

      &#experience {
        .inner { width:calc(100% / 1.2); margin:0 auto; }
      }

      &#skills {
        .inner { width:calc(100% / 1.2); margin:0 auto;
          .skillList {
            li { width:15rem; height:15rem; }
          }
        }
      }

      &#portfolio {
        .inner { width:calc(100% / 1.2); margin:0 auto;
          .portfolioList {
            li { width:25%; margin:1%; padding-top:25%; }
          }
        }
      }

      &#contact {
        .inner { width:calc(100% / 1.5); margin:0 auto; }
      }
    }
  }
}

@include media('tablet') {
  #contents {
    section {
      &#home { background-attachment:scroll;
        .inner {
          .scrollDown { bottom:10vh; }
        }
      }

      &#experience {
        .inner { width:calc(100% / 1.3); margin:0 auto; }
      }

      &#skills {
        .inner { width:calc(100% / 1.3); margin:0 auto;
          .skillList {
            li { width:14rem; height:14rem; }
          }
        }
      }

      &#portfolio {
        .inner { width:calc(100% / 1.3); margin:0 auto;
          .portfolioList {
            li { width:31%; margin:1%; padding-top:31%;
              &:before { right:0 }
              &:after { left:0;}

              .info { overflow:hidden; position:absolute; left:0; top:0; width:100%; height:100%;
                &:before { bottom:0; }
                &:after { top:0; }
                .logo { position:relative; width:100%; height:100%; border:2px solid $code-cbra-color; box-sizing:border-box;
                  .title { top:calc(50% - 3.5rem); font-size:2.5rem;
                    span { display:block; margin-left:0; font-size:1.2rem; }
                  }
                }
                .detail { top:calc(50% + 2rem); visibility:visible; opacity:1;
                  button[disabled] { border-color:$code-vari-color; }
                }
              }
            }
          }
        }
      }

      &#contact {
        .inner { width:calc(100% / 1.3); margin:0 auto; }
      }
    }
  }
}

@include media('mobile') {
  #contents {
    section {
      &#home {
        .inner {
          .title { margin-top:-10rem; }
          .content { margin-top:.5rem; }
          .scrollDown { bottom:15vh; }
        }
      }

      &#experience {
        .inner { width:calc(100% / 1.2); margin:0 auto;
          .expList { padding-left:3rem;
            > li { @include flex-container(center, center); flex-flow:column wrap;
              .date { position:initial; width:100%;
                &:before { content:''; left:-3rem; }
                &:after { content:''; left:-2.1rem; height:100%; }
              }

              .company { flex:1 1 100%; width:100%; }
            }
          }
        }
      }

      &#skills {
        .inner { width:calc(100% / 1.2); margin:0 auto;
          .skillList {
            li { width:13rem; height:13rem; margin:1.2rem; }
          }
        }
      }

      &#portfolio {
        .inner { width:calc(100% / 1.2); margin:0 auto;
          .portfolioList {
            li { width:48%; margin:1%; padding-top:48%;
              .info {
                .logo {
                  .title { top:calc(50% - 5.5rem); }
                }
                .detail { top:50%; }
              }
            }
          }
        }
      }

      &#contact {
        .inner { width:calc(100% / 1.2); margin:0 auto; }
      }
    }
  }
}
